<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<h1 align="center">This is inf page</h1>

<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">id</label>
    <input type="text" required ="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id">
 
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">nom</label>
    <input type="text" required ="text" class="form-control" id="exampleInputPassword1" name="nom">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <input type="text" required ="text" class="form-control" id="exampleInputPassword1" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>